<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-au"> <!--<![endif]-->
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>
      {{ page.title }}
    </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/library/stylesheets/main.css">
    <link rel="stylesheet" href="/library/stylesheets/pygments.css">

    <!-- Typkit -->
    <script type="text/javascript" src="//use.typekit.net/byg5dpo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="library/javascripts/vendor/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="page-wrap container">

      <header class="page-header" role="banner">

        <h3>BeauChamran.me</h3>

        <h1>{{ page.title }}</h1>

      </header> <!-- /.page-header -->

      <main class="page-content" role="main">

        {{ content }}

      </main> <!-- /.page-content -->

      <footer class="page-footer" role="contentinfo">

        <div class="site-information">

        </div>

      </footer>

    </div> <!-- /.page-wrap -->

    <script src="library/javascripts/vendor/jquery.min.js"></script>
    <script src="library/javascripts/plugins.js"></script>
    <script src="library/javascripts/main.js"></script>

  </body>
</html>
